@{
    ViewData["Title"] = "Başvuru Gönderildi";
    ViewData["Description"] = "Başvurunuz başarıyla alındı. En kısa sürede sizinle iletişime geçeceğiz.";
}

<div class="container">
    <h1>Başvurunuz başarıyla gönderildi!</h1>
    <p>En kısa sürede sizinle iletişime geçeceğiz.</p>
</div>